/* Custom styles for HA Smart Cover Automation docs - Just the Docs theme */

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji";
}

a,
a:not([class]) {
    text-decoration: none;
}